.footer {
    background-color: var(--branco);
    color: var(--preto);
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
}

.footer .img{
    width: 20%;
}