   
    header{
        z-index: 1000;
        position: fixed;
        background-color: #fff;
        width: 100%;
    }

    .div_img img{
        border: 1px solid rgba(0, 0, 0, 0.103)       
    }

@media (min-width: 1000px) and (max-width: 1300px){

    .menu-bars {
        color: #0000008e;
        float: right;
        font-size: 1.5em;
        margin-top: -65px;
        margin-right: 5%;
        background: none;
    }

    .menu-bars-closed{
        color: #fff;
        font-size: 1.6em;
        float: right;
        margin-right: 4%;
        margin-top: -43px;
    }

    .menu-bars-closed:hover{
        color: #fff;
    }

    .nav_menu{
        display: flex;
        background-color: #191F22;
        z-index: 1000;
        justify-content: center;
        flex-direction: column;
        position: fixed ; 
        width: 100%;
        top: 0;
        height: 37vh;
        left: 100%;
        transition: 850ms;
    }

    .nav_menu.active {
        left: 0%;
        transition: 350ms;
    }

    .nav_text {
        margin: 20px;
        text-align: center;
        list-style: none;
        height: 50px;
    }

    .nav_text a{
        color: #fff;
        text-decoration: none;
        position: relative;
    }

    .nav_text a::after{
        content: '';
        width: 0%;
        height: 1px;
        background-color: #fff;
        color: #000;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: 0.3s ease-in-out;
    }

    .nav_text a:hover::after{
        width: 100%;
    }

    .nav_text a:hover{
        color: #fff;
    }

    .navbar_toogle{
        background-color: #060b26;
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .menu-bars:hover{
        color: #000;
    }

    .div_img{
        margin-left: 5%;
    }

    .div_img img{
        margin-top: -15px;
        margin-bottom: -18px;
        width: 130px;                      
    }
   
}

@media (max-width: 1000px) {

    .menu-bars {
        color: #0000008e;
        float: right;
        font-size: 1.4rem;
        margin-top: -58px;
        margin-right: 5%;
        background: none;
    }

    .menu-bars-closed{
        color: #fff;
        font-size: 1.6em;
        float: right;
        margin-right: 4%;
        margin-top: -43px;
    }
                                  
    .menu-bars-closed:hover{
        color: #fff;
    }

    .nav_menu{
        display: flex;
        background-color: #191F22;
        z-index: 1000;
        justify-content: center;
        flex-direction: column;
        position: fixed ; 
        width: 100%;
        top: 0;
        height: 37vh;
        left: 100%;
        transition: 850ms;
    }

    .nav_menu.active {
        left: 0%;
        transition: 350ms;
    }

    .nav_text {
        margin: 20px;
        text-align: center;
        list-style: none;
        height: 50px;
    }

    .nav_text a{
        color: #fff;
        text-decoration: none;
        position: relative;
    }

    .nav_text a::after{
        content: '';
        width: 0%;
        height: 1px;
        background-color: #fff;
        color: #000;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: 0.3s ease-in-out;
    }

    .nav_text a:hover::after{
        width: 100%;
    }

    .nav_text a:hover{
        color: #fff;
    }

    .navbar_toogle{
        background-color: #060b26;
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .menu-bars:hover{
        color: #000;
    }

    .div_img img{
        margin-top: -10px;
        margin-bottom: -10px;
        width: 100px;     
        margin-left: 5%;          
    }
} 


@media (min-width: 1300px){

    header{
        height: 10vh;
    }
    
    .div_img{
        margin-left: 8%;
        position: relative;
        margin-top: -10px;
    }

    .div_img img{
        width: 140px;
    }

    .menu-bars{
        display: none;
    }

    .menu-bars-closed{
        display: none;
    }

    .nav_menu{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 3rem;
        margin-top: -60px;
        height: 3vh;
    }

    .nav_menu_itens{
        margin-top: -60px;
        margin-right: 30%;
    }

    .nav_text {
        display: inline;
        text-decoration: none;
        color: #000;
        font-size: 18px;
    }

    .nav_text a{
        color: #000;
        text-decoration: none;
        margin: 15px;
        position: relative;
    }

    .nav_text a::after{
        content: '';
        width: 0%;
        height: 1px;
        background-color: #000;
        color: #000;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: 0.3s ease-in-out;
    }

    .nav_text a:hover::after{
        width: 100%;
    }

    .nav_text a:hover{
        color: #000;
    }
}