.mainButton {
    display: inline-block;
    border-radius: 2px;
    padding: 0.75rem 1.5rem;
    font-size: 1.125rem;
    line-height: 1.125rem;
    background-color: var(--light-black);
    color: var(--branco);
    cursor: pointer;
    transition: 0.2s;
    width: 150px;
}

.mainButton.lg{
    padding: 1.5rem 2.75rem;
    font-size: 1.5rem;
    line-height: 1.125rem;
}

.mainButton.color{
    background-color: #be2e2e;
}

.mainButton:hover {
    background-color: #D5001C;
    border: none;
}

