.navegation{
    height: 70px;
}

.div__link {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
    margin-top: -60px;
}

.div__img{
    margin: 20px;
}

.navegation img{
    width: 50px;                                                                            
}

.burguer__menu{
    height: 100%;
    width: 4em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
    color: green;
    background-color: gray;
}

.burguer-bar{
    width: 100px;
    height: 0.5em;
    background-color: red;
    border-radius: 0.5em;
}

@media (max-width: 770px) {
    .navegacao {
        height: 72px;
    }
}