

.footer {
    background-color: var(--light-black);
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer img{
    width: 8%;
}

@media (max-width: 800px){
    .footer img{
        width: 15%;
    }
}
