.footer {
    background-color: var(--light-black);
    color: var(--preto);
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .img{
    width: 10%;
}